/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */
/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 75vh;
}
/* LOADER */
.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 1rem;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FF781E;
  border-color: #FF781E transparent #FF781E transparent;
  animation: loader-spin 1.2s linear infinite;
}
@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.navbar-toggler:focus {
  outline: 0;
}
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0.5rem;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-fixed .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0 10px;
}
.header-fixed .navbar-nav .nav-item .nav-link:hover {
  color: #FF781E;
}
.header-sticky {
  background: #ffffff;
  padding: 0.2rem;
  z-index: 999999;
  border-bottom: 1px solid #F5F5F5;
}
.header-sticky .navbar-nav .nav-item .nav-link {
  color: #191B1D;
}
.topbar-container {
  background: #FF781E;
  color: #ffffff;
  text-align: center;
  padding: 8px 1rem;
}
.topbar-container p {
  font-size: 0.9rem;
  margin: 0;
}
.topbar-container a {
  color: #ffffff;
}
.topbar-container a:hover {
  color: #191B1D;
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  padding: 1rem 1rem;
  padding-bottom: 0;
  border-top: 2px solid #eee;
  background: #F5F5F5;
}
.the-footer .footer-copy {
  padding: 1rem;
}
.the-footer .footer-copy h5 {
  font-size: 0.8rem;
}
.the-footer .footer-copy h5 a {
  color: #000000;
}
.btn-top {
  background: rgba(222, 222, 222, 0.7);
  position: fixed;
  bottom: 10vh;
  right: 0;
  border-radius: 0;
  opacity: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-top-visible {
  opacity: 1;
}
/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.home-hero-container {
  min-height: 95vh;
  max-height: 95vh;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
}
.home-hero-container::before {
  content: ' ';
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.home-hero-container video {
  position: fixed;
  top: 0;
  left: -10%;
  width: 140%;
}
.home-hero-container .row-hero {
  min-height: 95vh;
}
.home-hero-container .row-hero .home-hero-content {
  text-align: center;
  color: #ffffff;
  z-index: 999;
}
.home-hero-container .row-hero .home-hero-content .home-hero-buttons-wrapper .btn-hero {
  padding: 1.2rem 2.5rem;
  background: #FF781E;
  color: #ffffff;
  margin: 0.5rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-hero-container .row-hero .home-hero-content .home-hero-buttons-wrapper .btn-hero:hover {
  opacity: 0.8;
}
.home-hero-container .row-hero .home-hero-content .home-hero-buttons-wrapper .btn-hero:nth-child(2) {
  background: #191B1D;
}
.home-awards-container {
  background: #ffffff;
  padding: 3rem 1rem;
}
.home-awards-container .home-awards-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home-awards-container .home-awards-content img {
  margin: 0 2rem;
}
.home-bar-container {
  background: #191B1D;
  color: #ffffff;
  padding: 3rem 1rem;
  padding-bottom: 2.5rem;
}
.home-bar-container .home-bar-content-text {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3.5rem;
}
.home-bar-container .btn-bar {
  background: #FF781E;
  color: #ffffff;
  padding: 1rem 2rem;
  margin-bottom: 0.8rem;
  border-radius: 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-bar-container .btn-bar:hover {
  opacity: 0.8;
}
.home-bar-inverted-container {
  background: #FF781E;
}
.home-bar-inverted-container .btn-bar {
  background: #ffffff;
  color: #FF781E;
}
.home-items-container {
  background: #ffffff;
}
.home-items-container .home-item-desc {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.home-items-container .home-item-desc .home-item-desc-wrapper {
  padding: 0 20%;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2rem;
}
.home-items-container .home-item-desc .home-item-desc-wrapper .home-item-button-wrapper {
  text-align: center;
  margin-top: 1rem;
}
.home-items-container .home-item-desc .home-item-desc-wrapper .home-item-button-wrapper .btn-call {
  border: 2px solid #FF781E;
  color: #FF781E;
  border-radius: 0;
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.1rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-items-container .home-item-desc .home-item-desc-wrapper .home-item-button-wrapper .btn-call:hover {
  background: #FF781E;
  color: #ffffff;
}
.home-items-container .home-item-title {
  padding: 5rem 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
}
.home-items-container .home-item-title::before {
  content: ' ';
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.home-items-container .home-item-title .home-item-title-wrapper {
  color: #ffffff;
  z-index: 999;
  padding: 5rem;
}
.home-items-container .home-item-title .home-item-title-wrapper h2 {
  position: relative;
  font-weight: 800;
  font-size: 3.4rem;
}
.home-items-container .home-item-title .home-item-title-wrapper h2 strong {
  color: #FF781E;
  border-radius: 100%;
}
.home-items-container .home-item-title .home-item-title-wrapper h2::before {
  content: ' ';
  position: absolute;
  background: #FF781E;
  bottom: -20px;
  left: 0;
  height: 1px;
  width: 60px;
  z-index: 1;
}
.home-videos-container {
  background: #ffffff;
  padding: 3rem 1rem;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
.home-videos-container .home-videos-item-wrapper {
  text-align: center;
}
.home-videos-container .home-videos-item-wrapper iframe {
  width: 100%;
  min-height: 260px;
  border: 0;
}
.home-videos-container .home-videos-item-wrapper h3 {
  font-size: 1.8rem;
  margin-top: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #808080;
}
.home-portfolio-container {
  background: #ffffff;
  padding: 4rem 1rem;
}
.home-portfolio-container .portfolio-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.home-portfolio-container .portfolio-content .gallery-item {
  position: relative;
  flex: 0 0 10%;
  max-width: 10%;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
}
.home-portfolio-container .portfolio-content .gallery-item .gallery-item-wrap {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.home-portfolio-container .portfolio-content .gallery-item:hover .gallery-item-wrap {
  opacity: 1;
}
.subtitle-container h4 {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.title-container h2 {
  position: relative;
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}
.title-container h2 strong {
  color: #FF781E;
  border-radius: 100%;
}
.title-container h2::before {
  content: ' ';
  position: absolute;
  background: #FF781E;
  bottom: -30px;
  left: 48%;
  height: 1px;
  width: 60px;
  z-index: 1;
}
.home-about-container {
  background: #EAEAEA;
  padding: 5rem 1rem;
}
.home-about-container .home-about-content {
  padding-top: 3rem;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
}
.home-contact-container {
  background: #ffffff;
  padding: 5rem 1rem;
}
.home-contact-container .title-container h2::before {
  left: 0;
}
.home-contact-container .home-contact-content iframe {
  max-width: 100%;
}
.custom-contact-form {
  padding: 3rem 0;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.custom-contact-form .contact-input-item {
  margin-bottom: 1.2rem;
}
.custom-contact-form .contact-input-item .landing-form-input {
  padding: 1rem 1.3rem;
  padding-bottom: 0.9rem;
  height: auto;
  border-radius: 0;
}
.custom-contact-form .btn-contact {
  background: #FF781E;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.home-testimonials-container {
  background: #EAEAEA;
  padding: 7rem 1rem;
}
.home-testimonials-container .home-testimonials-content {
  overflow: hidden;
}
.home-testimonials-container .home-testimonials-item-wrapper {
  text-align: center;
  padding: 0.2rem 1rem;
}
.home-testimonials-container .home-testimonials-item-wrapper .star-container {
  color: #FF781E;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-size: 1.5rem;
}
.home-testimonials-container .home-testimonials-item-wrapper .desc-wrapper {
  font-size: 1.2rem;
  line-height: 2.3rem;
}
.home-testimonials-container .home-testimonials-item-wrapper h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
.custom-modal-gallery {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999999;
}
.custom-modal-gallery .img-fluid {
  max-height: 80vh;
}
.custom-modal-gallery .gallery-button {
  position: absolute;
  top: 50%;
  padding: 0.7rem 1rem;
  padding-bottom: 0.5rem;
  background: #fff;
  cursor: pointer;
}
.custom-modal-gallery .gallery-prev {
  left: 0;
}
.custom-modal-gallery .gallery-next {
  right: 0;
}
.custom-modal-gallery .gallery-close {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 10%;
  z-index: 9999;
  font-size: 2rem;
  color: #ffffff;
}
.danger {
  color: #f00;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 5px;
}
.thanks-container {
  padding: 9rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.thanks-container h3 {
  font-size: 1.7rem;
  margin: 1.2rem 0;
  font-weight: 300;
}
.thanks-container h1 {
  font-size: 2.8rem;
  font-weight: 700;
}
.thanks-container .btn-back-home {
  background: #FF781E;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  border-radius: 0;
  padding: 1rem 2.5rem;
  margin-top: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.thanks-container .btn-back-home:hover {
  background: #191B1D;
  color: #ffffff;
}
.page-template-page-thanks .header-fixed .navbar-nav .nav-item .nav-link {
  color: #000000;
}
.page-template-page-thanks .header-fixed .navbar-nav .nav-item .nav-link:hover {
  color: #FF781E;
}
.home-awards-title {
  text-align: center;
}
.home-awards-title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------------
4.- LANDING A 
-------------------------------------------------------------- */
.home-hero-landing-A-container .home-hero-content {
  text-align: left !important;
}
.home-hero-landing-A-container .home-hero-content h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.2rem;
}
.home-hero-landing-A-container .home-hero-content img {
  margin-top: -10px;
  margin-right: 10px;
}
.home-hero-form-content {
  z-index: 99;
}
.home-hero-form-content .home-hero-form-wrapper {
  padding: 2rem 2.5rem;
  background: rgba(0, 0, 0, 0.7);
}
.home-hero-form-content .home-hero-form-wrapper .home-hero-form-text-container {
  padding-bottom: 1rem;
}
.home-hero-form-content .home-hero-form-wrapper .home-hero-form-text-container h2 {
  color: #FF781E;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.home-hero-form-content .home-hero-form-wrapper .home-hero-form-text-container h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.1rem;
  color: #fff;
  font-weight: 600;
  padding: 0 2rem;
  line-height: 2rem;
}
.home-hero-form-content .home-hero-form-wrapper .hero-input-item {
  margin-bottom: 1rem;
}
.home-hero-form-content .home-hero-form-wrapper .hero-input-item .form-control {
  background: none #0000;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
.home-hero-form-content .home-hero-form-wrapper .btn-hero {
  background: #FF781E;
  color: #fff;
  border-radius: 0;
  padding: 0.6rem 0rem;
  display: block;
  max-width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.home-hero-form-content .home-hero-form-wrapper .btn-hero:hover {
  background: #191B1D;
}
.hero-loader-css {
  text-align: center;
}
/* --------------------------------------------------------------
5.- LANDING B 
-------------------------------------------------------------- */
.main-landingb-container {
  background: #ffffff;
  padding: 3rem 1rem;
  border-bottom: 1px solid #e8e8e8;
}
.main-landingb-container .landingb-main-form-container {
  padding-right: 1rem;
}
.main-landingb-container .home-hero-form-text-container {
  margin-bottom: 1rem;
}
.main-landingb-container .home-hero-form-text-container h2 {
  font-size: 1.8rem;
  line-height: 2.6rem;
  max-width: 70%;
  font-weight: 800;
}
.main-landingb-container .home-hero-form-text-container h3 {
  color: #191B1D;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.main-landingb-container .custom-section-form {
  padding: 0;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.main-landingb-container .custom-section-form .section-input-item {
  margin-bottom: 1.2rem;
}
.main-landingb-container .custom-section-form .section-input-item .section-form-input {
  padding: 1rem 1.3rem;
  padding-bottom: 0.9rem;
  height: auto;
  border-radius: 0;
}
.main-landingb-container .custom-section-form .btn-contact {
  background: #FF781E;
  color: #ffffff;
  padding: 0.8rem 1.2rem;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
.main-home-team-container {
  background: #ffffff;
  padding: 3rem 1rem;
}
.main-home-team-container .main-home-team-title {
  text-align: center;
  padding-bottom: 3rem;
}
.main-home-team-container .main-home-team-title h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
.main-home-team-item {
  margin-bottom: 1rem;
}
.team-item-image {
  position: relative;
}
.team-item-image .team-metadata-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.team-item-image .team-metadata-container:hover {
  opacity: 1;
}
.team-item-image .team-metadata-container a {
  color: #FF781E;
}
.team-item-image:hover .team-metadata-container {
  opacity: 1;
}
.team-content {
  padding: 1.5rem 0;
  text-align: center;
}
.team-content h2 {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.team-content h2:after {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 47%;
  height: 8px;
  width: 8px;
  background: #FF781E;
}
.main-home-carousel-container {
  background: #ffffff;
  padding: 1.5rem 0;
  text-align: center;
}
.main-home-carousel-container .swiper {
  width: 100%;
  height: 100%;
}
.main-home-carousel-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.main-home-carousel-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-home-carousel-container .swiper-slide {
  width: 60%;
}
