// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Raleway', sans-serif;
@secondfont: 'Open Sans', sans-serif;
@black: #000000;
@white: #ffffff;
@orange: #FF781E;
@dark: #191B1D;

/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}


@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: @mainfont;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 75vh;
}

/* LOADER */
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: 1rem;
}

.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @orange;
    border-color: @orange transparent @orange transparent;
    animation: loader-spin 1.2s linear infinite;
}

@keyframes loader-spin {
    0% {
        .transform(rotate(0deg));
    }

    100% {
        .transform(rotate(360deg));
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.navbar-toggler {
    &:focus {
        outline: 0;
    }
}


.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: .5rem;
    border-bottom: 1px solid transparent;
    .transition(all .3s ease-in-out);

    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                color: @white;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 0.8rem;
                margin: 0 10px;

                &:hover {
                    color: @orange;
                }

            }
        }
    }
}

.header-sticky {
    background: @white;
    padding: 0.2rem;
    z-index: 999999;
    border-bottom: 1px solid #F5F5F5;

    & .navbar-nav {
        & .nav-item {
            & .nav-link {
                color: @dark;
            }
        }
    }
}

.topbar-container {
    background: @orange;
    color: @white;
    text-align: center;
    padding: 8px 1rem;

    & p {
        font-size: .9rem;
        margin: 0;
    }

    & a {
        color: @white;

        &:hover {
            color: @dark;
        }
    }
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    padding: 1rem 1rem;
    padding-bottom: 0;
    border-top: 2px solid #eee;
    background: #F5F5F5;

    & .footer-copy {
        padding: 1rem;

        & h5 {
            font-size: .8rem;

            & a {
                color: @black;
            }
        }
    }
}

.btn-top {
    background: rgba(222, 222, 222, 0.7);
    position: fixed;
    bottom: 10vh;
    right: 0;
    border-radius: 0;
    opacity: 0;
    z-index: 9999;
    .transition(all .3s ease-in-out);
}

.btn-top-visible {
    opacity: 1;
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
.home-hero-container {
    min-height: 95vh;
    max-height: 95vh;
    overflow: hidden;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;

    &::before {
        content: ' ';
        position: absolute;
        background: rgba(0, 0, 0, .45);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    & video {
        position: fixed;
        top: 0;
        left: -10%;
        width: 140%;
    }

    & .row-hero {
        min-height: 95vh;

        & .home-hero-content {
            text-align: center;
            color: @white;
            z-index: 999;

            & .home-hero-buttons-wrapper {
                & .btn-hero {
                    padding: 1.2rem 2.5rem;
                    background: @orange;
                    color: @white;
                    margin: 0.5rem 0.2rem;
                    font-size: 0.9rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    border-radius: 0;
                    .transition(all .3s ease-in-out);

                    &:hover {
                        opacity: .8;
                    }

                    &:nth-child(2) {
                        background: @dark;
                    }
                }
            }
        }
    }
}

.home-awards-container {
    background: @white;
    padding: 3rem 1rem;

    & .home-awards-content {
        .display(flex);
        .align-items(center);
        .justify-content(center);
        flex-wrap: wrap;

        & img {
            margin: 0 2rem;
        }
    }
}

.home-bar-container {
    background: @dark;
    color: @white;
    padding: 3rem 1rem;
    padding-bottom: 2.5rem;

    & .home-bar-content-text {
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 3.5rem;
    }

    & .btn-bar {
        background: @orange;
        color: @white;
        padding: 1rem 2rem;
        margin-bottom: 0.8rem;
        border-radius: 0;
        font-weight: 600;
        text-transform: uppercase;
        .transition(all .3s ease-in-out);

        &:hover {
            opacity: .8;
        }
    }
}

.home-bar-inverted-container {
    background: @orange;

    & .btn-bar {
        background: @white;
        color: @orange;
    }
}

.home-items-container {
    background: @white;

    & .home-item-desc {
        .display(flex);
        .align-items(center);
        .justify-content(center);

        & .home-item-desc-wrapper {
            padding: 0 20%;
            font-size: 1.1rem;
            text-align: justify;
            line-height: 2rem;

            & .home-item-button-wrapper {
                text-align: center;
                margin-top: 1rem;

                & .btn-call {
                    border: 2px solid @orange;
                    color: @orange;
                    border-radius: 0;
                    padding: 0.8rem 2rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 1.1rem;
                    .transition(all .3s ease-in-out);

                    &:hover {
                        background: @orange;
                        color: @white;
                    }

                }
            }
        }
    }

    & .home-item-title {
        padding: 5rem 1rem;
        .display(flex);
        .align-items(center);
        .justify-content(flex-start);
        position: relative;
        background-size: cover !important;
        background-position: center center !important;

        &::before {
            content: ' ';
            position: absolute;
            background: rgba(0, 0, 0, .45);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
        }

        & .home-item-title-wrapper {
            color: @white;
            z-index: 999;
            padding: 5rem;

            & h2 {
                position: relative;
                font-weight: 800;
                font-size: 3.4rem;

                & strong {
                    color: @orange;
                    border-radius: 100%;
                }

                &::before {
                    content: ' ';
                    position: absolute;
                    background: @orange;
                    bottom: -20px;
                    left: 0;
                    height: 1px;
                    width: 60px;
                    z-index: 1;
                }
            }
        }
    }
}

.home-videos-container {
    background: @white;
    padding: 3rem 1rem;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;

    & .home-videos-item-wrapper {
        text-align: center;

        & iframe {
            width: 100%;
            min-height: 260px;
            border: 0;
        }

        & h3 {
            font-size: 1.8rem;
            margin-top: 1.5rem;
            font-weight: 400;
            letter-spacing: 1px;
            color: #808080;
        }
    }
}

.home-portfolio-container {
    background: @white;
    padding: 4rem 1rem;

    & .portfolio-content {
        .display(flex);
        .align-items(center);
        .justify-content(center);
        flex-wrap: wrap;
        padding-top: 3rem;

        & .gallery-item {
            position: relative;
            flex: 0 0 10%;
            max-width: 10%;
            margin: 0.5rem;
            margin-bottom: 0.5rem;

            & .gallery-item-wrap {
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .display(flex);
                .align-items(center);
                .justify-content(center);
                background: rgba(0, 0, 0, 0.4);
                color: @white;
                opacity: 0;
                .transition(all .3s ease-in-out);
            }

            &:hover {
                & .gallery-item-wrap {
                    opacity: 1;
                }
            }
        }
    }
}

.subtitle-container {
    & h4 {
        font-weight: 400;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
}

.title-container {
    & h2 {
        position: relative;
        font-weight: 700;
        font-size: 4.5rem;
        letter-spacing: 1px;
        margin-top: 0.5rem;

        & strong {
            color: @orange;
            border-radius: 100%;
        }

        &::before {
            content: ' ';
            position: absolute;
            background: @orange;
            bottom: -30px;
            left: 48%;
            height: 1px;
            width: 60px;
            z-index: 1;
        }
    }
}

.home-about-container {
    background: #EAEAEA;
    padding: 5rem 1rem;

    & .home-about-content {
        padding-top: 3rem;
        text-align: center;
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

.home-contact-container {
    background: @white;
    padding: 5rem 1rem;

    & .title-container {
        & h2 {
            &::before {
                left: 0;
            }
        }
    }

    & .home-contact-content {
        & iframe {
            max-width: 100%;
        }
    }
}

.custom-contact-form {
    padding: 3rem 0;
    padding-right: 1rem;
    padding-bottom: 1rem;

    & .contact-input-item {
        margin-bottom: 1.2rem;

        & .landing-form-input {
            padding: 1rem 1.3rem;
            padding-bottom: 0.9rem;
            height: auto;
            border-radius: 0;
        }
    }

    & .btn-contact {
        background: @orange;
        color: @white;
        padding: .8rem 1.2rem;
        border-radius: 0;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 2px;
    }
}

.home-testimonials-container {
    background: #EAEAEA;
    padding: 7rem 1rem;

    & .home-testimonials-content {
        overflow: hidden;
    }

    & .home-testimonials-item-wrapper {
        text-align: center;
        padding: 0.2rem 1rem;

        & .star-container {
            color: @orange;
            margin-bottom: 1rem;
            letter-spacing: 2px;
            font-size: 1.5rem;
        }

        & .desc-wrapper {
            font-size: 1.2rem;
            line-height: 2.3rem;
        }

        & h3 {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

.custom-modal-gallery {
    .display(flex);
    .align-items(center);
    .justify-content(center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999999;

    & .img-fluid {
        max-height: 80vh;
    }

    & .gallery-button {
        position: absolute;
        top: 50%;
        padding: 0.7rem 1rem;
        padding-bottom: 0.5rem;
        background: #fff;
        cursor: pointer;
    }

    & .gallery-prev {
        left: 0;
    }

    & .gallery-next {
        right: 0;
    }

    & .gallery-close {
        cursor: pointer;
        position: absolute;
        top: 4%;
        right: 10%;
        z-index: 9999;
        font-size: 2rem;
        color: @white;
    }
}

.danger {
    color: #f00;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 5px;
}


.thanks-container {
    padding: 9rem 1rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.8rem;

    & h3 {
        font-size: 1.7rem;
        margin: 1.2rem 0;
        font-weight: 300;
    }

    & h1 {
        font-size: 2.8rem;
        font-weight: 700;
    }

    & .btn-back-home {
        background: @orange;
        color: @white;
        text-transform: uppercase;
        font-weight: 600;
        border: 0;
        border-radius: 0;
        padding: 1rem 2.5rem;
        margin-top: 0.5rem;
        .transition(all .3s ease-in-out);

        &:hover {
            background: @dark;
            color: @white;
        }
    }
}

.page-template-page-thanks {
    & .header-fixed {
        & .navbar-nav {
            & .nav-item {
                & .nav-link {
                    color: @black;

                    &:hover {
                        color: @orange;
                    }
                }
            }
        }
    }
}

.home-awards-title {
    text-align: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }
}


/* --------------------------------------------------------------
4.- LANDING A 
-------------------------------------------------------------- */

.home-hero-landing-A-container {
    & .home-hero-content {
        text-align: left !important;

        & h1 {
            color: #fff;
            font-weight: 700;
            font-size: 2.2rem;
        }

        & img {
            margin-top: -10px;
            margin-right: 10px;
        }
    }
}

.home-hero-form-content {
    z-index: 99;

    & .home-hero-form-wrapper {
        padding: 2rem 2.5rem;
        background: rgba(0, 0, 0, 0.70);

        .home-hero-form-text-container {
            padding-bottom: 1rem;

            & h2 {
                color: @orange;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 700;
            }

            & h3 {
                font-size: 1.5rem;
                text-align: center;
                margin-bottom: 1.1rem;
                color: #fff;
                font-weight: 600;
                padding: 0 2rem;
                line-height: 2rem;
            }
        }

        & .hero-input-item {
            margin-bottom: 1rem;

            & .form-control {
                background: none #0000;
                border: 1px solid #fff;
                border-radius: 0;
                color: #fff;
            }
        }

        & .btn-hero {
            background: @orange;
            color: #fff;
            border-radius: 0;
            padding: 0.6rem 0rem;
            display: block;
            max-width: 70%;
            margin: 0 auto;
            font-size: 1.2rem;
            margin-top: 1.5rem;

            &:hover {
                background: @dark;
            }
        }

    }
}

.hero-loader-css {
    text-align: center;
}


/* --------------------------------------------------------------
5.- LANDING B 
-------------------------------------------------------------- */
.main-landingb-container {
    background: @white;
    padding: 3rem 1rem;
    border-bottom: 1px solid #e8e8e8;

    & .landingb-main-form-container {
        padding-right: 1rem;
    }

    & .home-hero-form-text-container {
        margin-bottom: 1rem;

        & h2 {
            font-size: 1.8rem;
            line-height: 2.6rem;
            max-width: 70%;
            font-weight: 800;
        }

        & h3 {
            color: @dark;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

    & .custom-section-form {
        padding: 0;
        padding-right: 1rem;
        padding-bottom: 1rem;

        & .section-input-item {
            margin-bottom: 1.2rem;

            & .section-form-input {
                padding: 1rem 1.3rem;
                padding-bottom: 0.9rem;
                height: auto;
                border-radius: 0;
            }
        }

        & .btn-contact {
            background: @orange;
            color: @white;
            padding: .8rem 1.2rem;
            border-radius: 0;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 0.9rem;
            letter-spacing: 2px;
        }
    }
}

.main-home-team-container {
    background: @white;
    padding: 3rem 1rem;

    & .main-home-team-title {
        text-align: center;
        padding-bottom: 3rem;

        & h2 {
            font-size: 2.5rem;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }
}

.main-home-team-item {
    margin-bottom: 1rem;
}

.team-item-image {
    position: relative;

    & .team-metadata-container {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        opacity: 0;
        .transition(all .3s ease-in-out);

        &:hover {
            opacity: 1;
        }

        & a {
            color: @orange;
        }
    }

    &:hover {
        & .team-metadata-container {
            opacity: 1;
        }
    }
}

.team-content {
    padding: 1.5rem 0;
    text-align: center;

    & h2 {
        position: relative;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;

        &:after {
            content: '';
            position: absolute;
            bottom: -1.2rem;
            left: 47%;
            height: 8px;
            width: 8px;
            background: @orange;
        }
    }
}

.main-home-carousel-container {
    background: @white;
    padding: 1.5rem 0;
    text-align: center;

    & .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide {
        width: 60%;
    }
}