// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1366px) {}

@media (max-width: 1280px) {
    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 2.8rem;
    }

    .home-items-container .home-item-desc .home-item-desc-wrapper {
        padding: 0 10%;
    }

    .title-container h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 1170px) {

    .home-items-container .home-item-desc .home-item-desc-wrapper {
        padding: 0 10%;
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 2.4rem;
    }

    .title-container h2::before {
        bottom: -20px;
        left: 46%;
    }

    .home-portfolio-container .portfolio-content .gallery-item {
        flex: 0 0 15%;
        max-width: 15%;
    }

    .home-bar-container .home-bar-content-text {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }

    .home-hero-form-content .home-hero-form-wrapper .home-hero-form-text-container h3 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        padding: 0 0rem;
        line-height: 1.8rem;
    }

    .home-hero-form-content .home-hero-form-wrapper .btn-hero {
        max-width: 100%;
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    .home-hero-form-content .home-hero-form-wrapper {
        padding: 2rem 1.5rem;
    }

    .home-hero-form-content .home-hero-form-wrapper .home-hero-form-text-container {
        padding-bottom: 0;
    }
}

@media (max-width: 1024px) {
    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 2rem;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .home-hero-container {
        min-height: 52vh;
        max-height: 52vh;
    }

    .home-hero-container .row-hero {
        min-height: 52vh;
    }

    .img-logo {
        max-width: 180px;
    }

    .home-items-container .home-item-title .home-item-title-wrapper {
        padding: 5rem 2rem;
    }

    .home-items-container .home-item-desc .home-item-desc-wrapper {
        padding: 0 6%;
        font-size: 0.9rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 800px) {
    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 1.7rem;
    }

    .home-bar-container .home-bar-content-text {
        font-size: 1.5rem;
        line-height: 2.8rem;
    }
}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 767px) {
    .home-hero-container .row-hero .home-hero-content .home-hero-buttons-wrapper .btn-hero {
        width: 100%;
    }

    .home-hero-container {
        min-height: unset;
        max-height: unset;
    }

    .home-hero-container .row-hero {
        min-height: 100vh;
    }

    .home-hero-landing-A-container .home-hero-content {
        padding-top: 10rem !important;
        padding-bottom: 3rem;
    }

    .home-hero-container .row-hero .home-hero-content {
        padding-top: 10rem !important;
        padding-bottom: 3rem;
    }

    .home-hero-landing-A-container .home-hero-content h1 {
        font-size: 1.7rem;
    }

    .home-bar-container {
        text-align: center;
    }

    .home-items-container .home-item-title .home-item-title-wrapper {
        padding: 2rem 2rem;
    }

    .home-items-container .home-item-title .home-item-title-wrapper h2 {
        font-size: 2rem;
    }

    .home-items-container .home-item-desc .home-item-desc-wrapper {
        padding: 3rem 2rem;
        padding-left: 1.2rem;
        font-size: 1rem;
        text-align: justify;
        line-height: 2.2rem;
    }

    .team-item-image img {
        width: 100%;
    }

    .home-testimonials-container .home-testimonials-item-wrapper .desc-wrapper {
        font-size: 1rem;
        line-height: 1.9rem;
    }

    .home-testimonials-container .home-testimonials-item-wrapper h3 {
        font-size: 1.1rem;
    }

    .title-container h2 {
        font-size: 2.5rem;
    }

    .home-about-container .home-about-content {
        padding-top: 3rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .title-container h2::before {
        bottom: -20px;
        left: 43.5%;
    }

    .subtitle-container h4 {
        font-size: 0.9rem;
        line-height: 2rem;
    }

    .custom-contact-form {
        margin-bottom: 2rem;
    }

    .the-footer .footer-copy h5 {
        font-size: .9rem;
        text-align: center;
        line-height: 2rem;
    }

    .home-portfolio-container .portfolio-content .gallery-item {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .home-hero-container video {
        display: none;
    }

}

@media (max-width: 600px) {}

@media (max-width: 533px) {}

@media (max-width: 424px) {}

@media (max-width: 414px) {}

@media (max-width: 375px) {}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}